<h1>Staff Profile</h1>

Name:{{user.staff.staff_name}}<br>
Email:{{user.staff.staff_email}}<br>
Department:{{user.staff.staff_department.code}}<br>
Mobile:{{user.staff.staff_phone}}<br>
Experience:{{user.staff.experience}}<br>
Qualification:{{user.staff.qualification}}<br><br>
Photo:<img src="{{user.staff.image.url}}" style="height:100px"><br>
<br>

<a href="/college/staff_logout/">logout</a><br>
<a href="/college/total_staff/">Staff List</a><br>
<a href="/college/total_students/">Student List</a><br>
